.login-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login-field {
    width: 40%;
}

.password-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.password-container > .login-field {
    width: 100%;
}